@tailwind base;
@tailwind components;
@tailwind utilities;

.brand-green-bg{
    background-color: #0FA958;
}

.brand-green-font{
    color: #0FA958;
}

.record-card:hover{
    background-color: #0fa95707;
    /* color: white; */
    transform: scale(1.05, 1.05);
}

.dash-search{
    border: 2px solid #0fa9574d;
    border-radius: 30px;
}


.search-input{
    border: 1px solid #0FA958;
    border-radius: 15px;
}

.record-form-input{
    border: 1px solid #0FA958;
    border-radius: 15px;
    height: 30px;
}

.bg-login-left{
    background-image: url('./images/livestockgrass.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.view_height_100{
    height: 100vh;
}

@media screen and (max-width: 760px) {
    .bg-login-left{
        height: max-height;
    }  
}

@media screen and (min-width: 760px) {
    .bg-login-left{

        height: 85vh;
    }  
}

.bg-darkened{
    background-color: rgba(0, 0, 0, 0.063);
}